{% extends 'payless/base.html' %}
    {% block title %}{{ selected_category }}{% endblock %}
    {% block body_block %}

            <div class="d-flex justify-content-start">
                 <ul class="pagination">
                     <li style="margin:10px">Page {{ products.number }} of {{ no_of_pages }} &nbsp;</li>
                {% if products.has_previous %}
                    <li class="page-item"><a class="page-link" href="{% url 'index' %}?page={{ products.previous_page_number}}">Previous</a></li>
                {% endif %}
                {% for page_no in page_list %}

                    <li class="page-item"><a class="page-link" href="{% url 'index' %}?page={{ page_no }}">{{ page_no }}</a></li>
                {% endfor %}

                {% if products.has_next %}
                    <li class="page-item"><a class="page-link" href="{% url 'index' %}?page={{ products.next_page_number}}">Next</a></li>
                {% endif %}
                </ul>
            </div>
            {{ products.no_of_pages }}
            <div class="row">
                {{products.count}}
            {% for product in  products %}
                <div class="col-xs-12 col-sm-6 col-md-6" >

                    <div class="row border border-success" style="margin:5px">
                        <div class="col-md-6">
                            <a class="title" href="http://127.0.0.1:8000/search?search={{ product.name }}" ><img src="{{ product.image }}" class="card-img-top" style='width:200px;height:200px;'alt="..."></a>
                            <h3 class="card-title text-center"><a class="title" href="https://127.0.0.1:8000/search?search= {{ product.name }}" >{{ product.name }}</a></h3>
                        </div>

                        <div class="col-md-6">

                            <p class="card-text"></p>
                             {% for vendor in product.vendors %}
                                {% if vendor.online_partner == 'Jiomart' %}
                                    <div>
                                        <a style="color:#008ecc;font-size:20px;font-weight: bold;" href="{{ vendor.link }}" class="">{{ vendor.online_partner }}&nbsp; ₹{{ vendor.price}}</a>
                                    </div>
                                {% endif %}
                                {% if vendor.online_partner == 'Bigbasket' %}
                                    <div>
                                       <a style="color:#84c225;font-size:20px;font-weight: bold;" href="{{ vendor.link }}" class="">{{ vendor.online_partner }}&nbsp; ₹{{ vendor.price}}</a>
                                    </div>
                                {% endif %}
                                 {% if vendor.online_partner == 'Amazon' %}
                                    <div>
                                       <a style="color:#febd69;font-size:20px;font-weight: bold;" href="{{ vendor.link }}" class="">{{ vendor.online_partner }}&nbsp; ₹{{ vendor.price}} </a>
                                    </div>
                                {% endif %}&nbsp;
                                {% if vendor.online_partner == 'Flipkart' %}
                                    <div>
                                       <a style="color:#ebd402;font-size:20px;font-weight: bold;" href="{{ vendor.link }}" class="">{{ vendor.online_partner }}&nbsp; ₹{{ vendor.price}} </a>
                                    </div>
                                {% endif %}&nbsp;
                             {% endfor %}
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
         <div class="d-flex justify-content-start">
            <ul class="pagination">
                <li style="margin:10px">Page {{ products.number }} of {{ no_of_pages }} &nbsp;</li>
                {% if products.has_previous %}
                    <li class="page-item"><a class="page-link" href="{% url 'index' %}?page={{ products.previous_page_number}}">Previous</a></li>
                {% endif %}
                {% for page_no in page_list %}

                    <li class="page-item"><a class="page-link" href="{% url 'index' %}?page={{ page_no }}">{{ page_no }}</a></li>
                {% endfor %}

                {% if products.has_next %}
                    <li class="page-item"><a class="page-link" href="{% url 'index' %}?page={{ products.next_page_number}}">Next</a></li>
                {% endif %}
            </ul>
         </div>
    {% endblock %}
